.videoDescription img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  object-fit: cover;
  font-family: Mulish;
}
.channelNameBlock h3 {
  
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0px;
  margin: 5px 0px 3px;
}

.channelNameBlock {
  flex: 1;
}

.videoDescription button {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;

  height: 42px;
  background: red;
  border-radius: 25px;

  height: fit-content;
  padding: 12px 20px;
  color: white;
  border: none;
  cursor: pointer;
}
.videoDescription {
  padding: 27px 20px 27px 15px;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.videoDescription span {
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #c2c2c2;
}
.channelNameBlock p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  margin-top: 13px;
  margin-bottom: 17px;
  max-width: 820px;

  color: #c2c2c2;
}
.channelNameBlock a {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #c2c2c2;
}
#subscribed,  #subscribeButton  {
  display: none;
}
@media screen and (max-width: 565px) {
  #subscribed {
    display: block;
  }
  .channelNameBlock span {
    display: none;
  }
}

@media screen and (max-width: 321px) {
  .channelNameBlock h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
  }
  .videoDescription img {
    width: 50px;
    height: 50px;
  }
  .videoDescription button{
    display: none;
  }
  #subscribeButton {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    background: transparent;
    color: red;
    padding-top: 15px;
  }
  a{
    display: none;
  }

  .videoDescription{
       padding: 13px 0px 0px 15px;
  }
  #subscribed{
    margin-top:9px;
    font-size: 12px;
  }
}
